<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
<!-- 引入highcharts CDN -->
<script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/highcharts-3d.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<style type="text/css">
  
  .demo{
      width: 100%;
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-center;
      align-items: center;
      justify-content: space-around;
       border-radius: 5px;
      border:1px solid rgba(247,247,247,1);
  }
  .item{
      /* flex: 0 0 40%; */
      width: 100px;
      height: 80px;
      box-sizing: border-box;
      padding:5px;
      border-radius: 5px;
      background-color: rgba(247,247,247,1);
  }
  .item:hover{ background-color: #999 }
  .item>a>h3{ font-size: 12px; color:rgba(0,0,0,1);  }
  #NodeNum{ line-height: 60px; 
    font-size: 24px; 
    font-weight: 300;
    color: #009688; }
  #container,#box,#bos{ 
      width: 450px; height: 400px;  
      /*border:1px solid yellow;*/

   }
  .wrap{
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-center;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    border:1px solid rgba(247,247,247,1);

  } 
</style>
</head>


<body>

	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="{:U('main')}">首页</a></li>
        </ul>
    </div>
    
    <div class="mainindex">
        <div class="demo">
           <div class="item">
            <a href="javascript:;" class="x-admin-backlog-body">
                <h3>项目总数</h3>
                <p>
                    <cite id="NodeNum">{$num['all']}</cite>
                </p>
            </a>
           </div>
           <div class="item">
             <a href="javascript:;" class="x-admin-backlog-body">
                <h3>完成数</h3>
                <p>
                    <cite id="NodeNum">{$num['done']}</cite>
                </p>
            </a>


           </div>
           <div class="item">
             
             <a href="javascript:;" class="x-admin-backlog-body">
                <h3>未完成数</h3>
                <p>
                    <cite id="NodeNum">{$num['ndone']}</cite>
                </p>
            </a>
           </div>
           <div class="item">
             
             <a href="javascript:;" class="x-admin-backlog-body">
                <h3>退会数</h3>
                <p>
                    <cite id="NodeNum">{$num['tuihui']}</cite>
                </p>
            </a>
           </div>
        </div>
        <!-- <div class="welinfo">
            <span><img src="__PUBLIC__/Admin/images/sun.png" alt="天气" /></span>
            <b>{$Think.session.admin_name}早上好，欢迎使用信息管理系统</b>
        </div>
        <div class="xline"></div>
        <div class="box"></div>
        <div class="welinfo">
            <span><img src="__PUBLIC__/Admin/images/dp.png" alt="提醒" /></span>
            <b>Uimaker项目管理系统使用指南</b>
        </div> -->
        <div class="wrap">
           <div id="container" ></div>
           <div id="box" ></div>
            
        </div>
       
         <!-------数字统计--------->
        <!-- <div id="box" style="width: 800px; height: 250px; float: left;   ">

            <div id="box-1" style="border-style: outset; margin-left:30px; width: 200px; height: 100px; float: left;">
                <h1 style=" font-size:20px;text-align: center">总项目数</h1>
                <h2 style="color: #056dae;font-size:20px;line-height: 60px;text-align: center"> {$num[all]}</h2>
            </div>

            <div id="box-2" style=" margin-left:30px; width: 200px; height: 100px; float: left;">
                <h1 style="font-size:20px;text-align: center">完成数</h1>
                <h2 style="color:green;font-size:20px;line-height: 60px;text-align: center"> {$num[done]}</h2>
            </div>

            <div id="box-3" style=" margin-left:30px; width: 200px; height: 100px; float: left;">
                <h1 style="font-size:20px;text-align: center">未完成数</h1>
                <h2 style="color:red;font-size:20px;line-height: 60px;text-align: center"> {$num[ndone]}</h2>
            </div>
        </div> -->
        <!-------数字统计--------->


        <!------图标统计------->
        <!-- <div id="container" style="width: 450px; height: 400px; float: right;   "></div> -->
        <!------图标统计------->








           
    </div>

    
<script type="text/javascript">
$(document).ready(function() {  
   var chart = {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false,
   };
   var title = {
      text: '所有项目'   
   };      
   var tooltip = {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}% {point.y}个</b>'
   };
   var plotOptions = {
      pie: {
         allowPointSelect: true,
         cursor: 'pointer',
         dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f}% {point.y}个',
            style: {
               color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
         }
      }
   };
   var series= [{
      type: 'pie',
      name: '项目数量',
      data: [
         ['未完成',   {$num['ndone']}],
         ['未拨款',   {$num['isMStatus']}],
         {
            name: '已审核',
            y: {$num['isStatus']},
            sliced: true,
            selected: true
         },
      ]
   }];    
    var credits = {
        enabled: false
    };  
    var exporting = {
        enabled: false
    }   
   var json = {};   
   json.chart = chart; 
   json.title = title;     
   json.tooltip = tooltip;  
   json.series = series;
   json.plotOptions = plotOptions;
   json.credits = credits;
   json.exporting = exporting;
   $('#container').highcharts(json);  
});



$(document).ready(function() {  
   var chart = {
      type: 'column'
   };
   var title = {
      text: '所有项目资源'   
   };
   var subtitle = {
      text: ''  
   };
   var xAxis = {
      categories: ['通过','退回','未审核','已拨款','进行中','已完成'],
      crosshair: true
   };
   var yAxis = {
      min: 0,
      title: {
         text: '数量 (个)'         
      }      
   };
   var tooltip = {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
         '<td style="padding:0"><b>{point.y:.1f} 个</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
   };
   var plotOptions = {
      column: {
         pointPadding: 0.2,
         borderWidth: 0
      }
   };  
   var credits = {
      enabled: false
   };
   
   var series= [{
        name: '{$Think.session.admin_name}',
          data: [{$num['isStatus']}, {$num['tuihui']}, {$num['nisStatus']}, {$num['nisMStatus']}, {$num['ndone']}, {$num['done']}]
        }];     
   var credits = {
        enabled: false
    };  
    var exporting = {
        enabled: false
    }   
   var json = {};   
   json.chart = chart; 
   json.title = title;   
   json.subtitle = subtitle; 
   json.tooltip = tooltip;
   json.xAxis = xAxis;
   json.yAxis = yAxis;  
   json.series = series;
   json.plotOptions = plotOptions;  
   json.credits = credits;
   json.credits = credits;
   json.exporting = exporting;
   $('#box').highcharts(json);
  
});





</script>
    
    

</body>

</html>
