<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
<!-- 引入highcharts CDN -->
<script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/highcharts-3d.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
  
  #project{ width: 60%;  border: 1px solid  red; }
  

</style>
</head>


<body>

	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="{:U('main')}">首页</a></li>
        </ul>
    </div>
    
    <div class="mainindex">
        
        <!-- <div class="welinfo">
            <span><img src="__PUBLIC__/Admin/images/sun.png" alt="天气" /></span>
            <b>{$Think.session.admin_name}早上好，欢迎使用信息管理系统</b>
        </div>
        <div class="xline"></div>
        <div class="box"></div>
        <div class="welinfo">
            <span><img src="__PUBLIC__/Admin/images/dp.png" alt="提醒" /></span>
            <b>Uimaker项目管理系统使用指南</b>
        </div> -->

        <div id="container" style="width: 450px; height: 400px; float: right;   "></div>
        <div id="project">
          <ul class="list-group">
            <li class="list-group-item">免费域名注册</li>
            <li class="list-group-item">免费 Window 空间托管</li>
            <li class="list-group-item">图像的数量</li>
            <li class="list-group-item">
              <span class="badge">新</span>
              24*7 支持
            </li>
            <li class="list-group-item">每年更新成本</li>
            <li class="list-group-item">
              <span class="badge">新</span>
              折扣优惠
            </li>
          </ul>

        </div>
        

           
    </div>

    
<script type="text/javascript">
$(document).ready(function() {  
   var chart = {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false,
   };
   var title = {
      text: '所有项目'   
   };      
   var tooltip = {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}% {point.y}个</b>'
   };
   var plotOptions = {
      pie: {
         allowPointSelect: true,
         cursor: 'pointer',
         dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f}% {point.y}个',
            style: {
               color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
         }
      }
   };
   var series= [{
      type: 'pie',
      name: '项目数量',
      data: [
         ['未完成',   {$doneNum}],
         ['未拨款',   {$isMStatusNum}],
         {
            name: '已审核',
            y: {$isStatusNum},
            sliced: true,
            selected: true
         },
      ]
   }];    
    var credits = {
        enabled: false
    };  
    var exporting = {
        enabled: false
    }   
   var json = {};   
   json.chart = chart; 
   json.title = title;     
   json.tooltip = tooltip;  
   json.series = series;
   json.plotOptions = plotOptions;
   json.credits = credits;
   json.exporting = exporting;
   $('#container').highcharts(json);  
});


</script>
    
    

</body>

</html>
