<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>设计流程</title>
    <style>
        .form{  width:400px; height:35px; margin-left: 50px;}
        .search{width:200px; height: 30px; border: 1px solid #369; margin-left: 30px;}

    </style>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="{:U('index/main')}">首页</a></li>
        <li><a href="{:U(design)}">设计流程</a></li>
    </ul>
</div>

<form action="" method="POST">
    <div class="formbody">
        <div class="formtitle"><span>流程信息</span></div>
        <ul class="forminfo">
            <li><label>流程节点一</label>
                <select name="jiedianyi" class="dfinput">
                    <foreach name="peopleList" item="v">
                        <option value ="{$v.name}">{$v.name}</option>
                    </foreach>
                </select> 
            </li>
            <li><label>流程节点二</label>
                <select name="jiedianer" class="dfinput">
                    <foreach name="peopleList" item="v">
                        <option value ="{$v.name}">{$v.name}</option>
                    </foreach>
                </select> 
            </li>
            <li><label>&nbsp;</label><input id="baocun" type="submit" class="btn" value="保存"/></li>
        </ul>
    </div>
</form>
<!-- 引入jquery -->
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>

<script type="text/javascript">
    
</script>


</body>

</html>
