<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>设计流程</title>
    <style>
        .form{  width:400px; height:35px; margin-left: 50px;}
        .search{width:200px; height: 30px; border: 1px solid #369; margin-left: 30px;}

    </style>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="{:U('index/main')}">首页</a></li>
        <li><a href="{:U(design)}">设计流程</a></li>
    </ul>
</div>

<form action="{:U('baocun')}" method="POST">
    <div class="formbody">
        <div class="formtitle"><span>流程信息</span></div>
        <ul class="forminfo">
            <li><label>流程节点</label>
                <foreach name="peopleList" item="v">
                    <input class="ck" type="radio" name="ck" value="{$v.id}" />{$v.name}
                </foreach>
                <!-- <select name="jiedian1"  class="dfinput">
                    <option value ="">请添加节点</option>
                    <foreach name="peopleList" item="v">
                        <option value ="{$v['name']}">{$v.name}</option>
                    </foreach>
                </select> -->
            </li>
            <li><input class="dfinput" type="button" value="添加节点" id="insert" /></li>
            
            <!-- <li><label>显示节点</label><div id="displayjieidan"></div></li> -->
            <li><label>&nbsp;</label><input id="baocun" type="submit" class="btn" value="保存"/></li>
        </ul>
    </div>
</form>
<!-- 引入jquery -->
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>

<script type="text/javascript">
    $("#insert").click(function(){
        var ck = $(".ck");  //找到项
        var uid = "";
        for(var i=0;i<ck.length;i++)
        {
            if(ck.eq(i).prop("checked"))  //单选按钮的选中状态
            {
            　　uid = ck.eq(i).val();  //单选按钮的值
            }
        }
             
        $.ajax({
            url:"{:U('design')}",  //添加节点的处理页面
            data:{uid:uid},  //将单选按钮的值传过去
            type:"POST",  //传值方式
            dataType:"TEXT",  //值的返回状态
            success: function(data){
                console.log(data);
                //window.location.href="{:U('design')}";  //执行处理页面成功后会刷新页面
            　　}
            });
    })
    // $("#addjiedian").click(function(){
    //     var $uname = $("#adduser").val();
    //     $.ajax({
    //             type: "POST",
    //             url:"{:U('Addprocess/design')}",
    //             data: {uname:$uname},
    //             dataType:"json",
    //             success: function(data) {
    //                 console.log(data);
    //                 var str = '';
    //                 // $.each(data,function(i,item){
    //                 //     //str = str + item[0] ;  
    //                 //     // $.each(item,function(j,val){
    //                 //     //     console.log(j+"----"+val); 
    //                 //     //     str = str+val;  
    //                 //     // })
                       
    //                 // })
    //                 // $("#displayjieidan").html(str);
    //                 for (var k in data) {
    //                         console.log(data[k].uname);
    //                         if(data[k].uname==''){
    //                                 alert(data[k].msg);
    //                                 $("#displayjieidan").html(data[k].msg);
    //                                 window.location.href = "{:U('Addprocess/design')}";
    //                         }else{
    //                             str = str+data[k].uname;
    //                         }     
                    
    //                     $("#displayjieidan").html(str);
    //                 }
    //             }
    //         })
    // })

    // $("#baocun").click(function(){
    //     var jiedian = $("#displayjieidan").val();
    //     console.log(jiedian);
    //     $.ajax({
    //         url:"{:U('baocun')}",
    //         data:{jiedian:jiedian},
    //         type:"POST",
    //         dataType:"json",
    //         success: function(data){
    //             alert("保存成功");
    //         }
    //     })
    // })





    // //移除的点击事件
    // $("#yichu").click(function(){
    //     console.log("ssss");
    //     var sy = $(this).attr("sy");
    //     $.ajax({
    //         url:"{:U('Addprocess/remove')}",
    //         data:{sy:sy},
    //         type:"POST",
    //         dataType:"json",
    //         success: function(data){
    //             alert("success");
    //             //window.location.href="liucheng.php";
    //         }
    //     })
    // })

</script>


</body>

</html>
