<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>设计流程</title>
    <style>
        .form{  width:400px; height:35px; margin-left: 50px;}
        .search{width:200px; height: 30px; border: 1px solid #369; margin-left: 30px;}

    </style>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>




</head>


<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="{:U('index/main')}">首页</a></li>
        <li><a href="{:U(design)}">设计流程</a></li>
    </ul>
</div>

<form action="" method="POST">
    <div class="formbody">
        <div class="formtitle"><span>流程信息</span></div>
        <ul class="forminfo">
            <li><label>流程节点</label>
                <select id="adduser" class="dfinput">
                    <option value ="">请添加节点</option>
                    <foreach name="peopleList" item="v">
                        <option value ="{$v.id}--{$v.name}">{$v.id}--{$v.name}</option>
                    </foreach>
                </select>
                <input name="" id="addjiedian" type="button" value="添加流程"/>
            </li>
            <!-- <li><label>请选择节点人员</label>
                <select name="process_type" class="dfinput">
                    <foreach name="process" item="v">
                        <option value ="{$v.process_type}">{$v.process_type}</option>
                    </foreach>
                </select>
            </li> -->
            <foreach name="$arr">
                <li><label>显示节点</label><input name="name" type="text" class="dfinput" />{$Think.session.jiedian}</li>
            </foreach>
            
           <!--  <li><label>项目负责人</label><input name="people" type="text" class="dfinput" /><i style="color:red;">*必须是当前账户</i></li>
            <li><label>其他成员</label><input name="other" type="text" class="dfinput" /><i>多个用英文  ,  隔开</i></li>
            <li><label>所需公款</label><input name="money" type="text" class="dfinput" /><i></i></li>
            <li><label>理由</label><textarea name="reason" cols="" rows="" class="textinput"></textarea></li> -->
            
            <!-- <li><label>流程节点</label>
                <select id="adduser" class="dfinput">
                    <foreach name="getPeople" item="v">
                        <option value ="addname">{$v.name}</option>
                    </foreach>
                </select>
                <input name="" id="addlc" type="button" value="添加流程" class="dfinput" />
            </li> -->
            <!-- <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认发布"/></li> -->
        </ul>
    </div>
</form>
<!-- 引入jquery -->
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>

<script type="text/javascript">
    $("#addjiedian").click(function(){
        var $adduser = $("#adduser").val();
        $.ajax({
                type: "POST",
                url:"{:U('Addprocess/design')}",
                data: {
                    name:$adduser
                },
                success: function($data) {
                    console.log($data);
                }
        });


        //console.log("sss");
    })


</script>







</div>

</body>

</html>
