<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="{:U('index/main')}">首页</a></li>
        <li><a href="{:U('project')}">项目列表</a></li>
        <li><a href="{:U('see')}">查看详情</a></li>
    </ul>
</div>

<form action="" method="POST">
    <div class="formbody">
        <div class="formtitle"><span>基本信息</span></div>

        <ul class="forminfo">
            <li><label>项目名称</label><input name="name" type="text" class="dfinput" value="{$info.name}"/><i>标题不能超过30个字符</i></li>
            <li><label>项目负责人</label><input name="people" type="text" class="dfinput" value="{$info.people}" /></li>
            <li><label>其他成员</label><input name="other" type="text" class="dfinput" value="{$other.other}"/><i></i></li>
            <li><label>所需公款</label><input name="money" type="text" class="dfinput" value="{$info.money}"/><i></i></li>
            <li><label>理由</label><textarea name="reason" cols="" rows="" class="textinput" value="">{$info.reason}</textarea></li>
            <li><label>发布时间</label><input class="dfinput" name="ctime"  value="{$info.ctime}"/></li>
            <li><label>状态</label><input name="money" type="text" class="dfinput" value="{$info.status}"/><i></i></li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="审核通过"/></li>
        </ul>

    </div>
</form>

</body>

</html>
